{% extends 'base.html.twig' %}

{% block title %}Vignes de {{ viti.firstname }} {{ viti.lastname }}{% endblock %}

{% block body %}
    <h1 class="titre_f">Liste des vignes de {{ viti.firstname }} {{ viti.lastname }}</h1>
    <div class="buttons_vigne_show">
        {% if app.user and app.user.id == viti.id and viti.verif == 1 %}
        <a href="{{ path('app_vigne_create', {id : viti.id}) }}"><button class="user_button_submit">Ajouter une vigne</button></a>
        {% endif %}
        <a href="{{ path('app_user', {id : viti.id}) }}"><button class="user_button_submit">Retour au profil</button></a>
    </div>
    <div>
        {% for vigne in vignes %}
            <div class="vigne_show">
                <p class="titre_vigne">Description de la vigne {{ vigne.id }}</p>
                <div class="all_desc">
                    <p class="vigne_desc">Longitude : {{ vigne.longitude }}</p>
                    <p class="vigne_desc">Latitude : {{ vigne.latitude }}</p>
                    <p class="vigne_desc">Superficie : {{ vigne.superficie }}</p>
                </div>
                <div class="buttons_vigne">
                    {% if app.user and app.user.id == viti.id %}
                    <a href="{{ path('app_vigne_update', {id: vigne.id}) }}"><button class="user_button_submit">Modifier la vigne</button></a>
                    {% endif %}
                    {% if (app.user and app.user.id == viti.id) or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_vigne_delete', {id: vigne.id}) }}"><button class="user_button_cancel">Supprimer la vigne</button></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
