{% extends 'base.html.twig' %}

{% block title %}Modification materiel{% endblock %}

{% block body %}
    <h1 class="titre_f">Modification du materiel {{ typemateriel.intituleMateriel }}</h1>
    {{ form_start(form, {'attr': {'class': 'register_form'}}) }}
    {{ form_row(form.intitule_materiel, {'label': 'Titre du materiel'}) }}
    {{ form_row(form.description_materiel, {'label': 'Description de votre materiel', 'attr': {'class': 'post_champs_texte'}}) }}
    {{ form_row(form.tag, {'label': 'Tags de recherche'}) }}
    {{ form_row(form.save, {'attr': {'class': 'user_button_submit'}}) }}
    {{ form_end(form) }}

{% endblock %}
